.title-text {
    font-size: 24px;
    font-weight: bold;
}
.welcome-text {
    font-size: 14px;
}
.image-width {
    width: 148px;
}
.btn-text {
    font-size: 20px;
    width: 184px;
}
@media (min-width: 576px) {
    .title-text {
        font-size: 40px;
    }
    .welcome-text {
        font-size: 24px;
    }
    .image-width {
        width: 266px;
    }
    .btn-text {
        font-size: 30px;
        width: 288px;
    }
}
