<app-nav-dashboard
  activePrincipal="summary"
  activeChild="general"
></app-nav-dashboard>
<app-modal-dashboard></app-modal-dashboard>

<div class="welcome-section">
  <div class="welcome-banner">
      <div class="banner-content">
          <h1>¡Bienvenido empresa!</h1>
          <p>Nos alegra que estés aquí. Recuerda realizar el diagnóstico que nos ayudará a proporcionarte una visión completa de los elementos que contribuyen al éxito de la empresa.</p>
      </div>
  </div>
</div>

<div class="cards">
  <div class="card">
      <img src="/assets/images/dashboard/imagen2.svg" alt="Diagnóstico Empresa">
      <h2>Diagnóstico empresa</h2>
      <button class="start-button" routerLink="/form/welcome">Iniciar</button>
  </div>
  <div class="card">
      <img src="/assets/images/dashboard/imagen3.svg" alt="Diagnóstico Empleado">
      <h2>Diagnóstico empleado</h2>
      <button class="start-button" disabled>Iniciar</button>
  </div>
  <div class="card">
      <img src="/assets/images/dashboard/imagen4.svg" alt="Diagnóstico Cliente">
      <h2>Diagnóstico cliente</h2>
      <button class="start-button" disabled>Iniciar</button>
  </div>
</div>
