.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw; 
    position: fixed; 
    top: 0;
    left: 0;
}
.modal-dialog {
    max-width: 324px; 
    max-height: 421px; 
    width: 100%;
    height: 100%;
    height: auto;
    margin: 0; 
}

.modal-content {
    border-radius: 30px; /* Borde redondeado del cuadro del modal */
}

.modal-header, .modal-body {
    text-align: center;
}

.modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000066;
    margin: 0 auto;
    font-weight: bold; /* Aplicar negrita */
}

.modal-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #444444;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0; /* Remover el cuadro que bordea la X */
    background: none; /* Remover fondo */
    border: none; /* Remover borde */
    font-size: 1.5rem; /* Ajustar el tamaño de la fuente */
    color: #000; /* Color de la 'x' */
}

.modal-footer {
    text-align: center; /* Centrar el contenido */
    display: flex;
    align-items: center; /* Alineación vertical centrada */
    justify-content: center; /* Alineación horizontal centrada */
    height: 100%; /* Altura completa del pie de página modal */
}

.btn-primary {
    background-color: #000066;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px 20px; 
    border-radius: 30px; /* Borde redondeado del botón */
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

@media (min-width: 700px) {
    .modal-dialog {
        margin: 20px auto; /* Centrar el modal en la pantalla */
        width: calc(100% - 40px); /* Ajustar el tamaño del modal */
    }
}
