header {
  margin-bottom: 50px;
}

#nav-dashboard .nav-link.show {
  color: var(--color-white);
}

#nav-dashboard .navbar-toggler-icon {
  color: var(--color-blue);
}

#nav-dashboard .bi-person-circle {
  font-size: 40px;
  color: var(--color-grey-text);
}

#nav-dashboard .offcanvas.offcanvas-start {
  background-color: var(--color-blue);
  width: 300px;
}

#nav-dashboard .btn-close {
  background-color: var(--color-grey-text);
  border-radius: 20px;
}

#nav-dashboard .nav-link {
  padding-left: 20px;
}

#nav-dashboard .nav-link,
#nav-dashboard .nav-link.dropdown-toggle {
  color: var(--color-grey-text);
  font-size: 18px;
}

#nav-dashboard .bi-speedometer2,
#nav-dashboard .bi-ui-checks {
  margin-right: 12px;
}

#nav-dashboard .bi-bullseye,
#nav-dashboard .bi-arrow-left-circle {
  margin-right: 16px;
}

#nav-dashboard .line {
  background-color: var(--color-grey-text);
  width: 250px;
  height: 1px;
  margin: 20px 0;
}

#nav-dashboard .dropdown-menu {
  background-color: var(--color-blue);
}

#nav-dashboard .dropdown-item {
  color: var(--color-grey-text);
  margin-left: 30px;
}

#nav-dashboard .hover-nav-tex:hover {
  color: var(--color-white);
  font-weight: bold;
}

#nav-dashboard .dropdown-menu .hover-nav-tex:hover,
#nav-dashboard .dropdown-menu .hover-nav-tex:focus {
  background-color: transparent;
}

#nav-dashboard .nav-link.active-principal {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 10px;
}

#nav-dashboard .dropdown-item.active-child {
  color: var(--color-white);
  font-weight: bold;
  position: relative;
}

#nav-dashboard .dropdown-item.active-child::before {
  content: "|";
  font-size: 20px;
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}
