 <!--<p>modal works!</p>
<div class="modal fade" id="bienvenido" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x-circle-fill"></i>
                </button>
                <h5 class="modal-title mt-3">¡Bienvenido!</h5>
            </div>
            <div class="modal-body">
                Estramipyme te guiará por las tres etapas del proceso estratégico (diagnóstico, reto estratégico,
                cocreación de estrategia competitiva) a través de preguntas y herramientas
                que te permitirán reconocer de dónde viene el éxito de tu negocio, dónde estás hoy y a dónde quieres
                llegar.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mb-3">Realizar diagnóstico</button>
            </div>
        </div>
    </div>
</div>-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bienvenido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"(click)="activeModal.close('close')"></button>
        </div>
        <div class="modal-body">
          <p>Estramipyme te guiará por las tres etapas del proceso estratégico (diagnóstico, reto estratégico,
            cocreación de estrategia competitiva) a través de preguntas y herramientas
            que te permitirán reconocer de dónde viene el éxito de tu negocio, dónde estás hoy y a dónde quieres
            llegar.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Realizar diagnóstico</button>
        </div>
      </div>
    </div>
  </div>