/* You can add global styles to this file, and also import other style files */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-dialog {
    max-width: 450px;
    max-height: 421px;
    width: 95%;
    height: 100%;
    height: auto;
    margin: 20px auto;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    border: none;
}

.modal-header h5 {
    font-size: 30px;
}

.modal-header,
.modal-body {
    text-align: center;
}

.modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000066;
    margin: 0 auto;
    font-weight: bold;
}

.modal-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #444444;
    padding: 30px;
    line-height: 35px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
}

.modal-footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
}

.btn-primary {
    background-color: #000066;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
