.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.modal-dialog {
    max-width: 450px;
    max-height: 421px;
    width: 95%;
    height: 100%;
    height: auto;
    margin: 20px auto;
}

.modal-content {
    border-radius: 30px;
}

.modal-header {
    border: none;
}

.modal-header h5 {
    font-size: 30px;
}

.modal-header,
.modal-body {
    text-align: center;
}

.modal-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #000066;
    margin: 0 auto;
    font-weight: bold;
}

.modal-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #444444;
    padding: 30px;
    line-height: 35px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
}

.modal-footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
}

.btn-primary {
    background-color: #000066;
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 30px;
}

.modal .close i {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s;
}

.modal .close i:hover {
    color: #ff0000;
}

.header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.welcome-section {
    text-align: left;
    margin: 50px auto;
    max-width: 1000px;
    position: relative;
}

.welcome-banner {
    background-color: #002169;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.banner-content {
    max-width: 600px;
    margin-left: 180px; /* Ajuste de margen para acercar la imagen al cuadro */
}

.welcome-image-outside {
    position: absolute;
    top: 0;
    left: -80px; /* Coloca la imagen más cerca del cuadro azul */
    height: 100%;
    max-width: 150px;
    z-index: 0;
}

.welcome-banner h1 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
}

.welcome-banner p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #ffffff;
}

/* Estilos para las tarjetas */
.cards {
    display: flex;
    justify-content: center; /* Centrar las tarjetas */
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    flex-grow: 1;
    text-align: center; /* Alinear los títulos de las tarjetas */
}

.start-button {
    background-color: #002169;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
}

.start-button:hover {
    background-color: #00164b;
}
