<section class="header">
    <nav>
        <div class="d-flex justify-content-center align-items-center bg-primary navbar-height">
            <span class="navbar-text"> Estramipyme </span>
        </div>
    </nav>
</section>
<section class="container mt-5">
    <div id="container-questions" class="row d-flex justify-content-center">
        <div id="container-buttons" class="col-12 col-lg-7 mt-5 justify-content-between d-flex">
            <button class="btn btn-primary option-text" id="btn-prev">Anterior</button>
            <button class="btn btn-primary option-text" id="btn-next">Siguiente</button>
        </div>
    </div>
    <div id="section-send-success" class="row d-none flex-column align-items-center flex-wrap text-center">
        <h4>¡Formulario enviado con éxito !</h4>
        <p class="mt-5">Todas sus respuestas serán tratadas con discrecion y se utilizarán únicamente con fines de
            análisis.
        </p>
        <img class="mt-5 mb-5" src="../../assets/images/form/form-success.svg" alt="Enviado con éxito">
        <a class="btn btn-primary option-text mt-5" href="../dashboard/summary/diagnosis/diagnosis.html">
            Salir
        </a>
    </div>
</section>

