#slider {
    accent-color: #006b80;
}

.question-text {
    font-size: 14px;
}

.option-text {
    font-size: 12px;
}

/* Estilos responsivos */
@media (min-width: 576px) {
    .question-text {
        font-size: 18px;
    }

    .option-text {
        font-size: 16px;
    }
}
