#slider {
    accent-color: #006b80;
}

.question-text {
    font-size: 18px;
}

.option-text {
    font-size: 12px;
}

#section-send-success h4 {
    font-size: 20px;
    font-weight: 600;
}

#section-send-success p {
    max-width: 500px;
}

#section-send-success img {
    width: 90%;
    max-width: 300px;
}

#section-send-success a {
    width: auto;
}

/* Estilos responsivos */
@media (min-width: 576px) {
    .question-text,
    #section-send-success p {
        font-size: 24px;
    }

    .option-text {
        font-size: 16px;
    }

    #section-send-success h4 {
        font-size: 40px;
    }

    #section-send-success a {
        font-size: 25px;
    }
}
