header nav {
    height: 80px;
}

nav .estramipyme-logo {
    width: 120px;
}

main > section {
    padding: 70px 5px;
}

main > section img {
    width: 100%;
    max-width: 600px;
}

main > section h3 {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

main > section.section-blue-light h3 {
    color: var(--color-white);
}

main > section .text-section {
    font-size: 18px;
    color: var(--color-black-80);
    line-height: 40px;
    font-weight: 300;
    text-align: justify;
}

main > section.section-blue-light .text-section {
    color: var(--color-white);
}

.section-blue-light {
    background-color: var(--color-blue-light);
}

main .container-video {
    width: 90%;
    max-width: 420px;
    background-color: var(--color-white);
    color: var(--color-black-80);
    border-radius: 20px;
    padding: 40px;
}

main .container-video iframe {
    width: 100%;
    height: 180px;
}

main .container-video h5 {
    font-size: 18px;
    text-align: center;
    margin: 30px 0;
}

main .container-video p {
    text-align: justify;
    font-size: 16px;
}

form {
    background-color: #efefef;
    padding: 40px;
    border-radius: 20px;
}

form .form-control {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    font-size: 18px;
}

form textarea.form-control {
    height: 150px;
}

footer {
    background-color: var(--color-black-80);
    font-size: 20px;
}

footer .img:first-child {
    max-width: 200px;
}

footer .img:nth-child(2) {
    max-width: 300px;
}

footer li {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

/* Media queries */
@media (min-width: 576px) {
    nav .estramipyme-logo {
        width: 180px;
    }
}

@media (min-width: 1200px) {
    main > section {
        padding: 70px;
    }

    main .container-video h5 {
        font-size: 20px;
    }

    main .container-video p {
        font-size: 18px;
    }

    form {
        padding: 70px 50px;
    }
}

@media (min-width: 1400px) {
    main > section h3 {
        font-size: 40px;
    }

    main > section .text-section {
        font-size: 24px;
    }

    form .form-control,
    form button.btn {
        font-size: 20px;
    }
}