<section class="header">
  <nav>
    <div class="d-flex justify-content-center align-items-center bg-primary navbar-height">
      <span class="navbar-text"> Estramipyme </span>
    </div>
  </nav>
</section>

<section class="mt-5">
  <div class="container">
    <div class="text-center">
      <h4 class="title-text">¡Bienvenido!</h4>
      <p class="welcome-text pt-3">
        Agradecemos su tiempo y disposición para participar en
        este formulario. Sus respuestas son esenciales para que
        podamos obtener un diagnóstico preciso y completo. Esto
        nos permitirá identificar áreas de mejora para una buena
        toma de decisiones.
      </p>
    </div>
  </div>
</section>
<div class="text-center pt-5">
  <img src="./assets/images/form/logohome.jpeg" alt="logohome" class="image-width" />
</div>
<div class="text-center mt-5">
  <a routerLink="/form" class="btn btn-primary btn-text">Iniciar</a>
</div>