:root {
    --color-light-grey: #ededed;
    --color-blue: #000066;
    --color-grey-text: #afafaf;
    --color-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #006b80;
    --bs-btn-border-color: #006b80;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #01859f;
    --bs-btn-hover-border-color: #088faa;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #088faa;
    --bs-btn-active-border-color: #088faa;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #006b80;
    --bs-btn-disabled-border-color: #006b80;
    border-radius: var(--bs-border-radius-pill);
}

.btn-link {
    --bs-btn-color: #000000;
    --bs-btn-hover-color: #006b80;
    --bs-btn-active-color: #088faa;
}

.bg-primary {
    background-color: #006b80 !important;
}
