<form class="card m-4">
    <h2 class="text-center py-4">Crear cuenta</h2>
    <div class="row px-4">
        <div class="form-group col-md-6">
            <input name="name" type="text" class="form-control" placeholder="Nombre" />
        </div>
        <div class="form-group col-md-6 mt-3 m-md-0">
            <input name="surname" type="text" class="form-control" placeholder="Apellidos" />
        </div>
    </div>
    <div class="row px-4">
        <div class="form-group col-md-6 mt-3">
            <select name="person_type" class="custom-select form-control">
                <option disabled selected>Tipo de persona</option>
                <option value="1">Natural</option>
                <option value="2">Jurídica</option>
            </select>
        </div>
        <div class="form-group col-md-6 mt-3">
            <input name="document" type="number" class="form-control" placeholder="Documento/Nit" />
        </div>
    </div>
    <div class="row px-4">
        <div class="form-group col-md-6 mt-3">
            <input name="company_name" type="text" class="form-control" placeholder="Razón social" />
        </div>
        <div class="form-group col-md-6 mt-3">
            <select name="company_type" class="custom-select form-control">
                <option disabled selected>Tipo de empresa</option>
                <option value="1">Pequeña</option>
                <option value="2">Mediana</option>
            </select>
        </div>
    </div>
    <div class="row px-4">
        <div class="form-group mt-3">
            <input name="email" type="email" class="form-control" placeholder="Correo elctrónico" />
        </div>
    </div>
    <div class="row px-4">
        <div class="form-group col-md-6 mt-3">
            <input name="password" type="password" class="form-control" placeholder="Contraseña" />
        </div>
        <div class="form-group col-md-6 mt-3">
            <input name="confirm_password" type="password" class="form-control"
                placeholder="Confirmar contraseña" />
        </div>
    </div>
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary mt-3 px-4">
            Registrarme
        </button>
    </div>
    <div class="form-group text-center">
        <a href="../login/login.html" type="submit" class="btn btn-link mt-2">
            Acceder
        </a>
    </div>
</form>